:root {
    /* Variables: Colores */
    --back-header: #073b4c;
    --color-letters-main: #0f556d;
    --back-footer: #05b485;
    --off-white: #FAF8F7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    height:62.5%;
}

body {
    height:100%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 234px;
    text-align: center;
    background: var(--back-header);
    box-shadow: 0 10px 10px 0 #20212447;
}

header p {
    font-size: 6.5rem;
    color: var(--off-white);
    font-weight: bold;
}

main {
    background: var(--off-white);
    height: 90%;
    width: 100%;
}

main section h1 {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    font-size: 3rem;
    color: var(--color-letters-main);
    text-shadow: #20212447 0.5rem 0.5rem 0.6rem;
}

.ul-header {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
}

li {
    margin-top: 4rem;
    padding: 5rem;
    align-self: center;
}

.ul-header a {
    text-decoration: none;
    font-size: 2.8rem;
    color: var(--color-letters-main);
    font-weight: bold;
}
.ul-header li a:hover {
    color: var(--back-footer);
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--back-footer);

    height: 10%;
    width: 100%;

    box-shadow: 0px 0px 3px 3px #20212447;
}

#final {
    font-size: 1.8rem;
    text-align: right;
    padding-right: 5rem;
    color: var(--off-white);
}